<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="MemberDAO">

		<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (M_ID, M_PWD, M_NAME, M_PHONE, M_GENDER, M_BIRTHDAY, LAT, LNG, M_REGDATE, M_ADDRESS, M_CERTIFY ) 
		VALUES ( #{m_id}, #{m_pwd}, #{m_name}, #{m_phone}, #{m_gender}, #{m_birthday}, #{lat}, #{lng}, SYSDATE, #{m_address}, 'X')
	</insert>
	<update id="ModifyPwdMember" parameterType="member">
		UPDATE MEMBER SET M_PWD = #{m_pwd} WHERE M_ID = #{m_id}
	</update>
	<update id="ModifyPhoneMember" parameterType="member">
		UPDATE MEMBER SET M_PHONE = #{m_phone} WHERE M_ID = #{m_id}
	</update>
	
	<update id="ModifyAddressMember" parameterType="member">
		UPDATE MEMBER SET 
		M_ADDRESS = #{m_address}, 
		LAT = #{lat},
		LNG = #{lng} 
		WHERE M_ID = #{m_id}
	</update>
	
	<update id="certifyCodeUpdate" parameterType="member">
		UPDATE MEMBER SET M_CERTIFY = 'O' WHERE M_ID = #{m_id}
	</update>
	
	<delete id="DeleteMember" parameterType="member">
		DELETE FROM MEMBER WHERE M_ID = #{m_id} AND M_PWD = #{m_pwd} AND M_PHONE = #{m_phone}
	</delete>
	
	<!-- 로그인 -->
	<select id="loginMember" resultType="member">
		SELECT * FROM MEMBER
		WHERE M_ID = #{m_id} AND M_PWD = #{m_pwd} 
	</select>
	
	
	<!-- 비밀번호 변경 -->
	<update id="update_pwd" parameterType="member">
		UPDATE MEMBER SET M_PWD = #{m_pwd} 
		WHERE M_ID = #{m_id}
	</update>
	
	
	<select id="getPw" parameterType="Map" resultType="member">
		SELECT * FROM MEMBER
		 WHERE M_ID= #{m_id} AND M_PHONE= #{m_phone} AND M_NAME = #{m_name}
	</select>	
	
	
	<select id="getId" parameterType="Map" resultType="member">
		SELECT * FROM MEMBER
		 WHERE M_NAME= #{m_name} AND M_PHONE= #{m_phone}
	</select>
	
	<!-- 아이디 중복검사 -->
	<select id="checkMemberJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_ID = #{m_id}
	</select>
	
	<select id="checkPhoneJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_PHONE = #{m_phone}
	</select>
	
	<select id="ModifyMemberPwdJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_PWD = #{m_pwd} AND M_ID = #{m_id}
	</select>
	<select id="DeleteMemberJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_PWD = #{m_pwd} AND M_ID = #{m_id} AND M_PHONE = #{m_phone}
	</select>
	
	<select id="ModifyMemberPhoneJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_PHONE = #{m_phone} AND M_ID = #{m_id}
	</select>
	
	<select id="loginCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER 
		WHERE M_ID = #{m_id} AND M_PWD = #{m_pwd}
	</select>

	<select id="loginMemberJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_ID = #{m_id} AND M_PWD = #{m_pwd}
	</select>
	
	<select id="findIdMemberJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_NAME = #{m_name} AND M_PHONE = #{m_phone}
	</select> 
	
	<select id="findPwdMemberJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_ID = #{m_id} AND M_PHONE = #{m_phone} AND M_NAME = #{m_name}
	</select>
	
	<select id="checkPwdMemberJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_PWD = #{m_pwd}
	</select>
		<select id="checkPhoneMemberJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_PHONE = #{m_phone}
	</select>
	
	<select id="ApiRegisterCheckJson" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_ID = #{m_id}
	</select>
	
	<update id="PwdUpdate" parameterType="member">
	 UPDATE MEMBER SET M_PWD = #{m_pwd} WHERE M_ID = #{m_id}
	</update>

</mapper>