<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--   <typeAliases>
  	<typeAlias alias="member" type="com.spring.biz.member.MemberVO"/>
  </typeAliases> -->
  
  <mappers>
    <mapper resource="mappings/host-mapper.xml"/>
    <mapper resource="mappings/localAdvice-mapper.xml"/>
    <mapper resource="mappings/localAdviceComment-mapper.xml"/>
    <mapper resource="mappings/member-mapper.xml"/>
    <mapper resource="mappings/profile-mapper.xml"/>
    <mapper resource="mappings/profileImage-mapper.xml"/>
    <mapper resource="mappings/review-mapper.xml"/>
    <mapper resource="mappings/travelPlan-mapper.xml"/>
    <mapper resource="mappings/country-mapper.xml"/>
    <mapper resource="mappings/countryImage-mapper.xml"/>
    
    
  </mappers>
</configuration>







