<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--   <typeAliases>
  	<typeAlias alias="member" type="com.spring.biz.member.MemberVO"/>
  </typeAliases> -->
  
  <mappers>
    <mapper resource="mappings/member-mapper.xml"/>
    <mapper resource="mappings/house-mapper.xml"/>
  </mappers>
</configuration>







